.new-arrival-product .new-arrivals-img-contnent:after {
    content: "";
    position: absolute;
    top: 0;
    left: -85%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
[data-theme-version="dark"] .brand-title path,
[data-theme-version="dark"] .inovice-logo svg path.react-w {
    fill: #fff !important;
}
.new-arrival-product:hover .new-arrivals-img-contnent:after {
    animation: shine .75s;
}
@keyframes shine {
	100% {
		left: 125%;
	}
}