
.mix-chart-tab .nav-link.active svg path {
    fill: white;
}
.chat-p.style-1 .active:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background: #3AC977;
    bottom: 0;
    left: 33px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.author-profile .upload-link {
    position: absolute;
    width: 35px;
    height: 35px;
    line-height: 32px;
    background: var(--primary);
    bottom: 0;
    right: 0px;
    box-shadow: 0 0 10px 0 rgba(0, 24, 128, 0.1);
    border-radius: 100%;
    color: #fff;
    overflow: hidden;
    border: 2px solid #fff;
}
.author-profile .upload-link .update-flie {
    position: absolute;
    opacity: 0;
    z-index: 0;
    width: 100%;
    cursor: pointer;
    left: 0;
    height: 100%;
}
.profile-card .card-header .title:after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: var(--primary);
    position: absolute;
    bottom: -31px;
    left: 0;
}
.photo-content .cover-photo {
    background: url(../images/profile/12.jpg);
    background-size: cover;
    background-position: center;
    min-height: 15.625rem;
    width: 100%;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}
.profile-tab .nav-item .nav-link:hover, .profile-tab .nav-item .nav-link.active {
    border-bottom: 0.0125rem solid var(--primary) !important;
}

.card-profile {
    background-image: url(../images/crm-profile.jpg);
    background-size: cover;
    background-position: center center; 
    padding: 30px;
}
.arrow {
    transform: rotate(-180deg);
    transition: all 0.3s;
}
.arrow.arrow-animate {
    transform: rotate(0deg);
    opacity: 1;
    color: var(--body-color);
}
@media only screen and (max-width: 35.9375rem) {
    .profile-card .card-header .title:after {
        bottom: -22px;
    }
}

