@media (min-width: 47.9375rem) {
    [data-sidebar-style="modern"] .nav-header {
        width: 10.625rem;
   }
    [data-sidebar-style="modern"] .nav-header .brand-logo {
        justify-content: center;
   }
    [data-sidebar-style="modern"] .deznav .metismenu > li {
        text-align: center;
   }
    [data-sidebar-style="modern"] .deznav .metismenu > li > a {
        padding: 1.25rem 0.9375rem 1.25rem 0.9375rem;
        margin: 0.125rem 0;
        transition: all 0.5s;
   }
    [data-sidebar-style="modern"] .deznav .metismenu > li > a::after {
        display: none;
   }
    [data-sidebar-style="modern"] .deznav .metismenu > li > a:hover > a, [data-sidebar-style="modern"] .deznav .metismenu > li > a:focus > a, [data-sidebar-style="modern"] .deznav .metismenu > li > a:active > a, [data-sidebar-style="modern"] .deznav .metismenu > li > a.mm-active > a {
        background-color: var(--primary-dark);
   }
    [data-sidebar-style="modern"] .deznav .metismenu > li > a svg {
        margin-right: 0;
        margin-bottom: 10px;
   }
    [data-sidebar-style="modern"] .deznav .metismenu > li:hover, [data-sidebar-style="modern"] .deznav .metismenu > li.mm-active {
        padding: 0;
   }
    [data-sidebar-style="modern"] .deznav .metismenu > li:hover ul li a, [data-sidebar-style="modern"] .deznav .metismenu > li.mm-active ul li a {
        padding: 0.5rem 1rem;
        border: 0;
   }
    [data-sidebar-style="modern"] .deznav .metismenu > li:hover ul .mm-active a, [data-sidebar-style="modern"] .deznav .metismenu > li.mm-active ul .mm-active a {
        background-color: var(--rgba-primary-1);
   }
    [data-sidebar-style="modern"] .deznav .metismenu > li li {
        text-align: left;
   }
    [data-sidebar-style="modern"] .deznav .metismenu li a {
        padding: 0.625rem 0.9375rem 0.625rem 0.9375rem;
        font-size: 0.813rem;
   }
   [data-headerbg="color_1"][data-sidebar-style="modern"] .deznav .metismenu li a {
        border-right: 1px solid var(--border);
   }
    [data-sidebar-style="modern"] .deznav .metismenu li a {
        border-right: 1px solid rgb(255 255 255 / 25%);
   }
    [data-sidebar-style="modern"] .deznav .metismenu li ul:after {
        content: none;
   }
    [data-sidebar-style="modern"] .deznav .metismenu li > ul {
        height: auto !important;
   }
    [data-sidebar-style="modern"] .deznav .metismenu .nav-label {
        display: none;
   }
    [data-sidebar-style="modern"] .deznav .nav-label {
        display: none;
   }
    [data-sidebar-style="modern"] .deznav .nav-text {
        display: block;
        margin-top: 0.3125rem;
   }
    [data-sidebar-style="modern"] .deznav .sidebar-info {
        display: none !important;
   }
    [data-sidebar-style="modern"] .deznav .menu-title {
        display: none;
   }
    [data-sidebar-style="modern"] .deznav .help-desk {
        padding: 0 3rem;
   }
    [data-sidebar-style="modern"] .deznav .help-desk .btn-light span, [data-sidebar-style="modern"] .deznav .help-desk .help-btn span {
        display: none;
   }
    [data-sidebar-style="modern"] .deznav .help-desk .d-mode {
        display: none !important;
   }
    [data-sidebar-style="modern"] .deznav .help-desk .help-btn {
        padding-left: 23px;
   }
    [data-sidebar-style="modern"] .footer {
        padding-left: 11.9rem;
   }
    [data-sidebar-style="modern"] .content-body {
        margin-left: 10.6rem;
   }
    [data-sidebar-style="modern"][data-layout="horizontal"] .deznav .metismenu li > a i {
        padding: 0;
        margin: 0;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .deznav {
        width: 10.625rem;
        left: 0;
        padding-top: 1rem;
        z-index: 3;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .deznav .slimScrollDiv, [data-sidebar-style="modern"][data-layout="vertical"] .deznav .deznav-scroll {
        overflow: visible !important;
        height: auto;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .deznav .metismenu > li > a {
        padding: 1.375rem 0.6em 0.9375rem;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .deznav .metismenu > li > a i {
        padding: 0;
        height: auto;
        width: auto;
        margin: 0;
        line-height: 1;
        margin-bottom: 0.3125rem;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .deznav .metismenu > li > ul {
        display: none;
        padding: 1.875rem 0.9375rem;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .deznav .metismenu li {
        position: relative;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .deznav .metismenu li a {
        border: 0;
        padding: 1rem 1rem;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .deznav .metismenu li a:before {
        content: none;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .deznav .metismenu li ul {
        position: absolute;
        left: 105%;
        top: 0;
        bottom: auto;
        background-color: var(--sidebar-bg);
        border: 0.0625rem solid var(--border);
        width: 12.5rem;
   }
   [data-theme-version="dark"][data-sidebar-style="modern"][data-layout="vertical"] .deznav .metismenu li ul {
        background: var(--dark-card);
        box-shadow: 0rem 0rem 0.8125rem 0rem rgba(0, 0, 0, 0.1);
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .deznav .metismenu li:hover > ul {
        display: block;
        left: 10.5rem;
        padding: 0.625rem 0;
        margin-left: 0;
        border: 0;
        box-shadow: 0.3125rem 0.3125rem 1.875rem 0rem rgba(20, 0, 30, 0.10);
        border-radius: 0 0.375rem 0.375rem 0;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .deznav .metismenu li:hover > ul [data-theme-version="dark"] {
        box-shadow: 0.3125rem 0.3125rem 1.875rem 0rem rgba(20, 0, 30, 0.10);
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .deznav .nav-label {
        display: none;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .deznav .nav-text {
        display: block;
        margin-top: 0;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .deznav .header-profile2 {
        padding: 0 2.5rem;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .nav-control {
        right: -4.25rem;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .header .header-content {
        padding-left: 6rem;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .menu-toggle .deznav, [data-sidebar-style="modern"][data-layout="vertical"] .menu-toggle .nav-header {
        left: -10.625rem;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .menu-toggle .header {
        padding-left: 0;
   }
    [data-sidebar-style="modern"][data-layout="vertical"] .menu-toggle .content-body {
        margin-left: 0;
   }
    [data-sidebar-style="modern"][data-layout="horizontal"] .nav-header {
        width: 18.563rem;
   }
    [data-sidebar-style="modern"][data-layout="horizontal"] .header {
        padding-left: 18.563rem;
   }
    [data-sidebar-style="modern"][data-layout="horizontal"] .footer, [data-sidebar-style="modern"][data-layout="horizontal"] .content-body {
        margin-left: 0;
   }
    [data-sidebar-style="modern"][data-layout="horizontal"] .deznav .metismenu > li > a {
        padding: 0.7375rem 1.0625rem 0.75rem 1.0625rem;
        margin: 0 0.125rem;
   }
    [data-sidebar-style="modern"][data-layout="horizontal"] .deznav .metismenu > li > ul {
        top: 4.3rem;
   }
    [data-sidebar-style="modern"][data-layout="horizontal"][data-container="boxed"] .deznav .metismenu > li > a {
        padding: 0.8125rem 1.25rem;
   }
}
@media only screen and (min-width: 47.9375rem) and (max-width: 1200px) {
    [data-sidebar-style="modern"][data-layout="horizontal"] .deznav .mode-btn {
        display: none !important;
   }
}
[data-nav-headerbg="color_1"][data-headerbg="color_1"][data-sidebar-style="modern"][data-layout="horizontal"] .nav-header .color-title {
    display: block !important;
}
