.sidebar-right-trigger {
	position: absolute;
	z-index: 9999;
	top: 7.75rem;
	background-color: var(--primary);
	color: var(--white);
	display: inline-block;
	height: 3rem;
	width: 3rem;
	text-align: center;
	font-size: 1.75rem;
	line-height: 3rem;
	border-radius: 0.3125rem 0 0 0.3125rem;
	box-shadow: -0.3125rem 0.1875rem 0.3125rem 0rem rgba(119, 119, 119, 0.15);
	right: 50rem;
}
.sidebar-right-trigger [data-theme-version="dark"] {
	color: var(--white);
}
@media only screen and (max-width: 64rem) {
	.sidebar-right-trigger {
		display: none;
   }
}
.sidebar-right-trigger:hover {
	color: var(--white);
}
.sidebar-right {
	right: -50rem;
	position: fixed;
	top: 0;
	width: 28.125rem;
	background-color: #f8f9fa;
	margin-top: 0;
	transition: all 0.5s ease-in-out;
	border-radius: var(--radius);
	height: 100vh;
	z-index: 9999;
}
.sidebar-right .bg-label-pattern {
	background: transparent;
	background-image: url('../images/pattern/pattern5.png');
	background-size: 130%;
}
.sidebar-right .note-text {
	bottom: 0;
	left: 0;
	padding: 10px;
	opacity: 0.5;
	font-size: 12px;
}
.sidebar-right .sidebar-close-trigger {
	position: absolute;
	z-index: 2;
	font-size: 1.75rem;
	top: 0;
	right: -3rem;
	height: 3rem;
	width: 3rem;
	line-height: 3rem;
	text-align: center;
	background: var(--primary);
	color: var(--white);
}
.sidebar-right.show {
	right: 0;
	box-shadow: 0rem 0rem 3.125rem rgba(0, 0, 0, 0.2);
	z-index: 9999;
	border-radius: 0;
}
.sidebar-close.close svg {
	transform: rotate(180deg);
}
@media only screen and (max-width: 47.9375rem) {
	.sidebar-right.show {
		display: none;
   }
}
.sidebar-right.show .bg-overlay {
	position: fixed;
	width: 100%;
	cursor: pointer;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
}
.sidebar-right-inner {
    position: relative;
    height: 100%;
    background-color: #fff;
}
.sidebar-right.show .sidebar-right-trigger {
	right: 100%;
}
.sidebar-right .card-tabs .nav-tabs {
	justify-content: space-between;
	position: sticky;
	top: 0;
	width: 100%;
	background-color: var(--white);
	z-index: 2;
	border-bottom: 4px solid var(--rgba-primary-1);
}
.sidebar-right .card-tabs .nav-tabs .nav-item {
	margin-bottom: 0;
	flex: 1;
}
.sidebar-right .card-tabs .nav-tabs .nav-item .nav-link {
	border: 0;
	font-size: 1.125rem;
	position: relative;
	text-align: center;
	background-color: var(--white);
	border-radius: 0;
	margin: 0;
}
.sidebar-right .card-tabs .nav-tabs .nav-item .nav-link.active {
	background: var(--rgba-primary-1);
	color: #000;
}
.sidebar-right .card-tabs .nav-tabs .nav-item .nav-link.active [data-theme-version="dark"] {
	border-right: none;
	border-left: none;
	border-top: none;
}
.sidebar-right .sidebar-right-inner > h4 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--black);
	font-size: 24px;
	font-weight: 600;
}
.sidebar-right .sidebar-right-inner > span {
	font-size: 16px;
}
.sidebar-right .customiz {
	position: relative;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	padding: 16px 30px;
}
.sidebar-right .customiz:before {
	position: absolute;
	content: "";
	height: 1px;
	background-color: var(--border);
	width: 460px;
	left: 0px;
	bottom: -2px;
}
.sidebar-right .customiz h4 {
	font-size: 24px;
	font-weight: 600;
	color: #111 !important;
}
.sidebar-right .main-color {
	margin-bottom: 1rem;
}
.sidebar-right .main-color p {
	font-weight: 600;
	font-size: 14px;
	color: #111;
	margin-bottom: 8px;
	text-transform: uppercase;
}
.sidebar-right .main-color input[type="radio"] {
	display: none;
}
.sidebar-right .main-color input[type="radio"] + label {
	display: inline-block;
	width: 24px;
	height: 24px;
	cursor: pointer;
	transition: all 0.1s ease;
	border-radius: 0.25rem;
	margin-right: 0.3125rem;
	margin-bottom: 0.1875rem;
	border-radius: 50%;
}
.sidebar-right .main-color input[type="radio"]:checked + label {
	position: relative;
}
.sidebar-right .main-color input[type="radio"]:checked + label::after {
	height: 2.0625rem;
	width: 2.0625rem;
	left: -0.27rem;
	top: -0.24rem;
	content: "";
	position: absolute;
	background-color: inherit;
	border-radius: 50%;
	opacity: 0.4;
}
.sidebar-right #nav_header_color_1 + label, .sidebar-right #header_color_1 + label, .sidebar-right #sidebar_color_1 + label, .sidebar-right #secondary_color_1 + label, .sidebar-right #primary_color_1 + label {
	border: 0.0625rem solid #c4c4c4;
}

.sidebar-right #nav_header_color_2 + label, .sidebar-right #header_color_2 + label, .sidebar-right #sidebar_color_2 + label, .sidebar-right #secondary_color_2 + label, .sidebar-right #primary_color_2 + label {
    background-color: #1D69D6;
}
.sidebar-right #nav_header_color_3 + label, .sidebar-right #header_color_3 + label, .sidebar-right #sidebar_color_3 + label, .sidebar-right #secondary_color_3 + label, .sidebar-right #primary_color_3 + label {
    background-color: #003F88;
}
.sidebar-right #nav_header_color_4 + label, .sidebar-right #header_color_4 + label, .sidebar-right #sidebar_color_4 + label, .sidebar-right #secondary_color_4 + label, .sidebar-right #primary_color_4 + label {
    background-color: #1F2025;
}
.sidebar-right #nav_header_color_5 + label, .sidebar-right #header_color_5 + label, .sidebar-right #sidebar_color_5 + label, .sidebar-right #secondary_color_5 + label, .sidebar-right #primary_color_5 + label {
    background-color: #01BD9B;
}
.sidebar-right #nav_header_color_6 + label, .sidebar-right #header_color_6 + label, .sidebar-right #sidebar_color_6 + label, .sidebar-right #secondary_color_6 + label, .sidebar-right #primary_color_6 + label {
    background-color: #FDC500;
}
.sidebar-right #nav_header_color_7 + label, .sidebar-right #header_color_7 + label, .sidebar-right #sidebar_color_7 + label, .sidebar-right #secondary_color_7 + label, .sidebar-right #primary_color_7 + label {
    background-color: #0074FF;
}
.sidebar-right #nav_header_color_8 + label, .sidebar-right #header_color_8 + label, .sidebar-right #sidebar_color_8 + label, .sidebar-right #secondary_color_8 + label, .sidebar-right #primary_color_8 + label {
    background-color: #B65FBD;
}
.sidebar-right #nav_header_color_9 + label, .sidebar-right #header_color_9 + label, .sidebar-right #sidebar_color_9 + label, .sidebar-right #secondary_color_9 + label, .sidebar-right #primary_color_9 + label {
    background-color: #2AA3E7;
}
.sidebar-right #nav_header_color_10 + label, .sidebar-right #header_color_10 + label, .sidebar-right #sidebar_color_10 + label, .sidebar-right #secondary_color_10 + label, .sidebar-right #primary_color_10 + label {
    background-color: #7C57FD;
}
.sidebar-right.style-1 {
	height: 100vh;
	width: 15.625rem;
	margin-top: 0;
	right: -15.625rem;
}
.sidebar-right.style-1 .sidebar-right-inner {
	background: var(--white);
}
.sidebar-right.style-1 .sidebar-right-trigger {
	top: 12.4rem;
}
.sidebar-right.style-1.show {
	right: 0;
}
.sidebar-right.style-1.show .sidebar-right-trigger {
	display: block;
}
.nice-select.wide {
	line-height: 2.1125rem;
   /* height: 48px;
	*/
}
.nice-select.wide.form-control-sm {
	height: 35px;
	line-height: 1rem;
}
@keyframes bounce {
	0% {
		transform: translateX(-8%);
		-webkit-transform: translateX(-8%);
   }
	50% {
		transform: translateX(8%);
		-webkit-transform: translateX(8%);
   }
	100% {
		transform: translateX(-8%);
		-webkit-transform: translateX(-8%);
   }
}
@-webkit-keyframes bounce {
	0% {
		transform: translateX(-8%);
		-webkit-transform: translateX(-8%);
   }
	50% {
		transform: translateX(8%);
		-webkit-transform: translateX(8%);
   }
	100% {
		transform: translateY(-8%);
		-webkit-transform: translateY(-8%);
   }
}
@media only screen and (max-width: 87.5rem) {
	.nice-select.wide {
		line-height: 2rem;
   }
}
.select-thems {
	padding: 12px 0px;
}
.select-thems .form-switch .form-check-input {
	width: 43px;
	height: 24px;
}
.select-thems .toggle-switch .form-check-input {
	left: -0.3125rem;
}
.select-thems .toggle-switch .form-check-input:after {
	top: 0.125rem;
	left: 3px;
	background: #fff;
	box-shadow: none;
}
.select-thems span {
	font-size: 14px;
	font-weight: 600;
}
[data-theme-version="dark"] .theme-mode.form-switch .form-check-input:after,
.select-thems .toggle-switch .form-check-input:checked:after {
	left: 1.25rem;
	background: white;
}
[data-theme-version="dark"] .theme-mode.form-switch .form-check-input,
.select-thems .toggle-switch .form-check-input:checked {
	background: var(--primary) !important;
}
.sidebar-btn {
	padding-top: 40px;
}
.sidebar-btn .btn-group .btn {
	padding: 0;
	border: 0;
	font-size: 14px;
	font-weight: 400;
	color: #6f767e;
	box-shadow: none;
}
.sidebar-btn .btn-check:checked + .btn-outline-primary, .sidebar-btn .btn-check:active + .btn-outline-primary, .sidebar-btn .btn-outline-primary:active, .sidebar-btn .btn-outline-primary.active, .sidebar-btn .btn-outline-primary.dropdown-toggle.show {
	background-color: transparent !important;
	box-shadow: none;
	color: #6f767e!important;
}
.sidebar-btn .btn-check:checked + .btn-outline-primary svg path, .sidebar-btn .btn-check:active + .btn-outline-primary svg path, .sidebar-btn .btn-outline-primary:active svg path, .sidebar-btn .btn-outline-primary.active svg path, .sidebar-btn .btn-outline-primary.dropdown-toggle.show svg path {
	fill: var(--primary);
}
.sidebar-btn p {
	font-size: 14px;
	font-weight: 600;
	color: #111;
	text-transform: uppercase;
}
.switcher-scroll {
	padding: 0 30px;
	height: calc(100% - 10rem);
}
