
.daterangepicker th,
.drp-selected {
    color: var(--body-color);
}
.daterangepicker .calendar-table td {
    width: 33px;
    height: 33px;
    border-radius: 0.5rem;
    color: #B5B5C3;
}
.daterangepicker td.active:hover,
.daterangepicker td.active {
    background-color: var(--primary);
    color: #fff !important;
}
.daterangepicker td.in-range {
    background-color: transparent;
    color: #5E6278 !important;
}
button.cancelBtn.btn.btn-sm.btn-inverse, 
.btn-group-sm > button.cancelBtn.btn.btn-inverse {
    background-color: #f9f9f9; 
    color: var(--body-color);
}
.daterangepicker button.applyBtn {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #fff !important;
}
.daterangepicker .drp-buttons .btn {
    margin-left: 8px;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4PX;
}
[data-theme-version="dark"] .daterangepicker .calendar-table,
[data-theme-version="dark"] .daterangepicker {
    background: #1E1E1E;
    border-color: var(--primary);
}
[data-theme-version="dark"] .daterangepicker td.off, 
[data-theme-version="dark"] .daterangepicker td.off.in-range, 
[data-theme-version="dark"] .daterangepicker td.off.start-date, 
[data-theme-version="dark"] .daterangepicker td.off.end-date {
    background-color: #242424;
}
[data-theme-version="dark"] .daterangepicker .calendar-table .table-condensed td:hover {
    background-color: var(--primary);
    color: #fff;
}
[data-theme-version="dark"] .daterangepicker select.hourselect, 
[data-theme-version="dark"] .daterangepicker select.minuteselect, 
[data-theme-version="dark"] .daterangepicker select.secondselect, 
[data-theme-version="dark"] .daterangepicker select.ampmselect {
    background: #1E1E1E;
    border: 0.0625rem solid #444444;
    color: #fff;
}