#world-map, #usa {
    height: 25rem;
} 
.jqvmap-zoomin, .jqvmap-zoomout
{
	position: absolute;
	left: 0.625rem;
	-webkit-border-radius: 0.1875rem;
	-moz-border-radius: 0.1875rem;
	border-radius: 0.1875rem;
	background: #000000;
	padding: 0.1875rem;
	color: white;
	width: 1.0625rem;
	height: 1.0625rem;
	cursor: pointer;
	line-height: 0.725rem;
	text-align: center;
}
.jqvmap-zoomin {
	top: 0.625rem;
}
.jqvmap-zoomout {
	top: 1.875rem;
}
@media only screen and (max-width: 61.9375rem) {
    #world-map, #usa {
        height: 21.875rem;
    }
}
@media only screen and (max-width: 35.9375rem) {
    #world-map, #usa {
        height: 14.375rem;
    }
}
