.picker .picker__frame {
    min-width: 28.125rem;
    max-width: 28.125rem;
}
.picker .picker__frame .picker__box {
    padding: 1.25rem;
    border: 0;
    box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
}
.picker .picker__frame .picker__box .picker__header {
    margin-top: 0;
}
.picker .picker__frame .picker__box .picker__header .picker__year {
    color: var(--primary);
    font-style: inherit;
    font-size: 1.25rem;
}
.picker .picker__frame .picker__box .picker__header .picker__nav--prev {
    left: 0;
}
.picker .picker__frame .picker__box .picker__header .picker__nav--next {
    right: 0;
}
.picker .picker__frame .picker__box .picker__header .picker__nav--prev, .picker .picker__frame .picker__box .picker__header .picker__nav--next {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    line-height: 2.5rem;
    border-radius: 0.125rem;
}
.picker .picker__frame .picker__box .picker__table .picker__weekday {
    padding: 0.625rem 0;
    font-size: 1rem;
}
.picker .picker__frame .picker__box .picker__table .picker__day {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3.125rem;
    padding: 0 !important;
    font-size: 1rem;
    line-height: 2.5rem;
    margin: auto;
    border: 0 !important;
}
.picker .picker__frame .picker__box .picker__table .picker__day.picker__day--highlighted {
    border: 0 !important;
    padding: 0;
    background-color: var(--primary);
    color: #fff !important;
}
.picker .picker__frame .picker__box .picker__table .picker__day:hover {
    background-color: var(--primary);
    color: #fff !important;
}
.picker__day--today:before,
.picker__button--today:before,
.picker__nav--next:before,
 .picker__nav--prev:before {
    display: none;
}
.picker .picker__frame .picker__box .picker__footer .picker__button--clear, .picker .picker__frame .picker__box .picker__footer .picker__button--close, .picker .picker__frame .picker__box .picker__footer .picker__button--today {
    border: 0;
    border-radius: 0.125rem;
    font-size: 1rem;
}
.picker .picker__frame .picker__box .picker__footer .picker__button--today {
    background-color: var(--primary);
    color: #fff !important;
}
.picker .picker__frame .picker__box .picker__header .picker__nav--prev:after, .picker .picker__frame .picker__box .picker__header .picker__nav--next:after {
    font-family: fontawesome;
    border: 0;
    margin: 0 auto;
    font-size: 1.375rem;
}
.picker .picker__frame .picker__box .picker__header .picker__nav--prev:after {
    content: "\f0d9";
}  
.picker .picker__frame .picker__box .picker__header .picker__nav--next:after {
    content: "\f0da";
}
[data-theme-version="dark"] .picker__box {
    background: #242424;
}
[data-theme-version="dark"] .picker .picker__frame .picker__box .picker__table .picker__day,
[data-theme-version="dark"] .picker__month,
[data-theme-version="dark"] .picker .picker__frame .picker__box .picker__footer .picker__button--clear,
[data-theme-version="dark"] .picker .picker__frame .picker__box .picker__footer .picker__button--close ,
[data-theme-version="dark"] .picker .picker__frame .picker__box .picker__header .picker__nav--prev,
[data-theme-version="dark"] .picker .picker__frame .picker__box .picker__header .picker__nav--next ,
[data-theme-version="dark"] .picker__year {
    color: white;
    background-color: transparent;
}
@media only screen and (max-width: 35.9375rem) {
    .picker .picker__frame {
      min-width: 100% !important;
      max-width: 100% !important;
    }
    .picker__wrap {
        display: block;
    }
    .picker .picker__frame .picker__box {
        padding: 0.9375rem;
        margin: 0 0.625rem;
    }
      .picker__table {
        margin-bottom: .75em;
    }
}


