.swal2-popup .swal2-styled:focus {
    box-shadow: none;
}
.sweet-image {
    width: 20%;
}
.swal2-popup .swal2-content {
    color: #888888;
}
[data-theme-version="dark"] .swal2-popup {
    background: #242424;
}