
.swiper-button-next, .swiper-button-prev {
   color: white;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 25px;
}
.swiper-button-next, .swiper-button-prev {
    width: calc(var(--swiper-navigation-size)/ 10 * 40);
}
.swiper-pagination-bullet {
    width: 30px;
    height: 3px;
    border-radius: 0;
}
.swiper-pagination-bullet-active {
    background-color: white;
}
/* @screen max-sm {
    .swiper-button-next, .swiper-button-prev {
        width: calc(var(--swiper-navigation-size)/ 10 * 10);
    }
} */