textarea,
input {
    outline: none;
}
[type="file"]::-webkit-file-upload-button {
    border: 0;
    border-right: 1px solid black;
    color: var(--text);
    padding: 0 10px;
    margin: 0;
    margin-right: 10px;
    height: 47px;
    background-color: var(--body-bg);
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--body-color);
    text-align: center;
    white-space: nowrap;
    min-width: 2.625rem;
    justify-content: center;
    border-radius: 0.5rem;
}
[data-theme-version="dark"] .input-group-text {
    --light: #242424;
}
.form-check {
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    min-height: 1.3125rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
}
.form-check-input:active {
    filter: brightness(90%);
}
.form-check-input[type="checkbox"] {
    border-radius: 0.25em;
}
.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
}
.form-check-input {
    top: 0.125rem;
    border-width: 1px;
    width: 1.25rem;
    height: 1.25rem;
    border-color: #C3C3C3;
}
.form-check-input {
    --form-check-bg: var(--body-bg);
    border-color: #C3C3C3;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: var(--form-check-bg);
    background-image: var(--form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    appearance: none;
}
.form-check-input:checked[type="checkbox"] {
    --form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.form-check-input:checked {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}
.form-control-sm {
    min-height: 2.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.76563rem;
    border-radius: 0.5rem;
    height: calc(1.5em + 0.5rem + 2px);
}
.tagify.form-control{
    display: block;
    width: 100%;
}
.form-control {
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
}
.checkbox-warning .form-check-input:checked {
    background-color: #FF9F00 !important;
    border-color: #FF9F00 !important;
}
.checkbox-danger .form-check-input:checked {
    background-color: #FF5E5E !important;
    border-color: #FF5E5E !important;
}
.checkbox-success .form-check-input:checked {
    background-color: #3AC977 !important;
    border-color: #3AC977 !important;
}
.checkbox-secondary .form-check-input:checked {
    background-color: #2C2C2C !important;
    border-color: #2C2C2C !important;
}
.btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}
.btn-check:checked + .btn-outline-primary,
.btn-check:active + .btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: #fff !important;
}
.form-check-input:checked[type="radio"] {
    --form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);
}
.form-check-input[type="radio"] {
    border-radius: 50%;
}
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem var(--rgba-primary-5);
}
.btn-outline-primary:hover svg path {
    stroke: #fff;
    transition: all 0.5s;
}
.show-pass .fa-eye {
    display: none;
}
.show-pass.active .fa-eye {
    display: inline-block;
}
.show-pass.active .fa-eye-slash {
    display: none;
}
.was-validated :invalid ~ .invalid-feedback, .was-validated :invalid ~ .invalid-tooltip, .is-invalid ~ .invalid-feedback, .is-invalid ~ .invalid-tooltip {
    display: block !important;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: var(--danger) !important;
    padding-right: calc(1.5em + 0.75rem) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23FF5E5E'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23FF5E5E' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.was-validated .form-control:valid, .form-control.is-valid {
    border-color: var(--success) !important;
    padding-right: calc(1.5em + 0.75rem) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%233AC977' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.was-validated .nice-select:invalid + .nice-select {
	border: 1px solid #f72b50 !important;
}
.was-validated .nice-select:valid + .nice-select {
	border: 1px solid #28a745 !important;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%232adb7b' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
    background-position: right calc(0.675em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
[data-theme-version="dark"] input[type="date"]::-webkit-calendar-picker-indicator ,  
[data-theme-version="dark"] input[type="time"]::-webkit-calendar-picker-indicator {
    filter: brightness(0) invert(1);
}

/* For Firefox */
[data-theme-version="dark"] input[type="date"]::-moz-time-text ,  
[data-theme-version="dark"] input[type="time"]::-moz-time-text {
  filter: brightness(0) invert(1);
}

.toggle-switch {
    padding-left: 3.125rem;
    line-height: 1.25;
    display: inline-block;
    color: black;
    font-weight: 600;
}
.toggle-switch .form-check-input {
    border: 0;
    cursor: pointer;
    background: #d8d8d8 !important;
    width: 2.3125rem;
    border-radius: 1.25rem;
    height: 0.875rem;
    position: relative;
    left: -0.3125rem;
    transition: all 0.2s;
    background-image: none;
}
.toggle-switch .form-check-input:focus {
    background-image: none;
}
.toggle-switch .form-check-input:checked {
    background: var(--rgba-primary-2);
    background-image: none;
}
.toggle-switch .form-check-input:checked:after {
    left: 1.25rem;
    background: var(--primary);
}
.toggle-switch .form-check-input:focus {
    box-shadow: none;
}
.toggle-switch .form-check-input:after {
    width: 1.25rem;
    background: #909090;
    height: 1.25rem;
    content: "";
    position: absolute;
    border-radius: 1.5rem;
    top: -0.1875rem;
    left: 0;
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
}
.toggle-switch.text-end {
    padding-right: 0rem;
    padding-left: 0;
}
.toggle-switch.text-end .form-check-input {
    left: auto;
    margin-left: 0;
    float: right;
    right: 0rem;
    background-image: none;
}
.toggle-switch.text-end .form-check-label {
    margin-right: 0.9375rem;
    margin-left: 0;
}
.toggle-switch .form-check-label {
    cursor: pointer;
}
.form-switch {
    padding-left: 2.5em;
}
.form-switch .form-check-input {
    --form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    width: 2em;
    margin-left: -2.5em;
    background-image: var(--form-switch-bg);
    background-position: left center;
    border-radius: 2em;
    transition: background-position 0.15s ease-in-out;
}
.form-switch .form-check-input {
    width: 2.5rem;
}
[data-theme-version="dark"] .theme-mode.form-switch .form-check-input,
.form-switch .form-check-input:checked {
    background-position: right center;
    --form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
[data-theme-version="dark"] .form-check-input {
    border-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
}
.form-check .form-check-input:checked + span:after {
    transform: translate(-50%, -50%) scale(1);
}
.form-check span:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: 1px solid var(--secondary);
    border-radius: 50%;
    opacity: 0.2;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1;
}
.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--d-bg);
}