#external-events .external-event:before {
    content: "";
    display: block;
    width: 0.875rem;
    min-width: 0.875rem;
    height: 0.875rem;
    border-radius: 50%;
    margin-right: .9rem;
    position: relative;
    top: 0.125rem;  
}
#external-events [data-class="bg-primary"]::before {
    background: var(--primary);
}
#external-events [data-class="bg-warning"]::before {
    background: #F89D16;
}
#external-events [data-class="bg-danger"]::before {
    background: #E55555;
}
#external-events [data-class="bg-info"]::before {
    background: #2AA3E7;
}
#external-events [data-class="bg-dark"]::before {
    background: #444444;
}
#external-events [data-class="bg-secondary"]::before {
    background: #1F2025;
}
.external-event:hover:before {
    background: #fff !important;
}
.fc-toolbar {
    margin-top: 0.9375rem;
}
.fc-toolbar h2, .fc-toolbar .h2{
    font-weight: 600;
    line-height: 1.875rem;
    text-transform: uppercase;
}
.fc .fc-button-group > .fc-button:focus,
 .fc .fc-button-group > .fc-button:active,
  .fc .fc-button-group > .fc-button:hover,
   .fc .fc-button-group > .fc-button.fc-button-active {
    background: var(--primary);
    color: #fff;
    border-color: var(--primary);
}
.fc-view {
    margin-top: 1.875rem;
}
.app-fullcalendar a {
    color: #7e7e7e;
}
[data-theme-version="dark"] .app-fullcalendar a {
    color: #828690;
}
.fc .fc-view-harness {
    height: 800px !important;
    overflow-y: auto;
}
.fc .fc-daygrid-week-number{
    font-size: 13px !important;
}
.fc .fc-button-group>.fc-button{
    color: #b5b5c3;
    background: 0 0;
    text-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.fc .fc-button-primary{
    border-color: var(--border) !important;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0.3em;
}
.fc .fc-toolbar-title {
    font-size: 20px;
    margin: 0;
}
.fc-theme-standard .fc-scrollgrid.fc-scrollgrid-liquid,
.fc-scrollgrid 
,table{
    border-color: var(--border);
}
.fc-theme-standard th{
    padding: .75rem .5rem;
    font-weight: 500;
	color: #b5b5c3;
}
.fc .fc-timegrid-axis-cushion, .fc .fc-timegrid-slot-label-cushion {
    font-size: 14px;
}
.fc-theme-standard td, .fc-theme-standard th{
    border-color: var(--border);
}
.fc-button-primar {
    background-color: var(--primary) !important;
}
.fc-h-event,.fc-v-event{
	background:var(--primary);
	border-radius: .42rem;
}
.fc-h-event .fc-event-title{
	color: #fff;
}

.fc-unthemed .fc-h-event, .fc-unthemed .fc-event-dot {
    padding: 0;
    border-radius: .42rem;
}
.fc-daygrid-dot-event{
    background: var(--card);
    border: 1px solid var(--border) !important;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
}
.fc-daygrid-dot-event .fc-daygrid-event-dot{
    border-color:var(--primary);
}
.fc-daygrid-dot-event .fc-event-title{
	font-weight:500;
}
.fc-event.bg-primary
,.fc-event.bg-success
,.fc-event.bg-warning
,.fc-event.bg-secondary
,.fc-event.bg-dark
,.fc-event.bg-info{
	color: #fff!important;
	border-radius: 8px;
}
.fc-daygrid-event-dot{
    border-color: #fff;
}

.fc .fc-scroller-liquid-absolute,.fc-scroller{
	position:relative;
	overflow: visible!important;
}
.fc-button.fc-button-primary.fc-today-button{
    background: var(--primary);
    color: #fff;
    border: 0;
    opacity: 1;
    text-transform: capitalize;
}
.fc-unthemed .fc-toolbar .fc-button.fc-button-active,
 .fc-unthemed .fc-toolbar .fc-button:active,
  .fc-unthemed .fc-toolbar .fc-button:focus{
	background: var(--primary);
    color: #fff;
    border: 1px solid var(--primary);
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}
.external-event:hover:before{
    background: #fff!important;
}
.fc-event{
	overflow:hidden;
}
.fc-event {
    border-radius: .42rem;
    border: none;
    cursor: move;
    font-size: 0.8125rem;
    margin: 0.3125rem 0.4375rem;
    padding: 0.3125rem;
    text-align: center;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
    margin-right: 2px;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-start, .fc-direction-rtl .fc-daygrid-event.fc-event-end {
    margin-left: 2px;
}
.fc .fc-daygrid-event {
    z-index: 6;
    margin-top: 1px;
}
[data-theme-version="dark"] .week .day.calender-header {
    background-color: #1E1E1E;
}
.fc-event.bg-primary .fc-daygrid-event-dot,
.fc-event.bg-success .fc-daygrid-event-dot,
.fc-event.bg-warning .fc-daygrid-event-dot,
.fc-event.bg-secondary .fc-daygrid-event-dot,
.fc-event.bg-dark .fc-daygrid-event-dot,
.fc-event.bg-info .fc-daygrid-event-dot {
	border-color: #fff;
}
.fc-media-screen .fc-timegrid-event {
    height: 100%;
}
.fc-h-event.bg-danger {
    background: var(--danger) !important;
}
.fc-event.bg-secondary {
    background: #1F2025 !important;
}
.fc-event.bg-warning {
    background: var(--warning) !important;
}
/* @screen max-sm {
	.fc.app-fullcalendar .fc-timegrid-slot-label{
		width:40px!important;
		font-size: 10px;
	}
	.fc.app-fullcalendar .fc-col-header-cell-cushion {
		display: inline-block;
		padding: 2px 4px;
		font-size: 10px;
	}
	.fc .fc-toolbar.fc-header-toolbar {
		display:block;
	}
	.fc-toolbar-chunk{
		display:flex;
		justify-content: center;
	}
	.fc-toolbar-chunk:first-child{
		justify-content:space-between;
	}
	.fc-toolbar-title{
		margin-bottom: 8px;
	}
	.fc-theme-standard th {
		font-size:14px;
		font-weight:400;
		padding:3px 0px;
	}
} */
@media only screen and (max-width: 61.9375rem) {
	.fc-daygrid-event {
		white-space: unset;
	}
	.fc-daygrid-dot-event {
		flex-wrap: wrap;
	}
    .fc .fc-view-harness {
        width: 800px !important;
    }
}
@media only screen and (max-width: 1480px) {
	.day.today span {
		height: 39px;
		width: 32px;
		font-weight: 400;
	}
}